[submodule "zsh/.config/plugins/zsh-autosuggestions"]
	path = zsh/.config/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/plugins/zsh-vi-mode"]
	path = zsh/.config/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "zsh/.config/plugins/fzf"]
	path = zsh/.config/plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/.config/plugins/forgit"]
	path = zsh/.config/plugins/forgit
	url = https://github.com/wfxr/forgit.git
[submodule "zsh/.config/plugins/zsh-history-substring-search"]
	path = zsh/.config/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.config/plugins/zsh-histdb"]
	path = zsh/.config/plugins/zsh-histdb
	url = https://github.com/larkery/zsh-histdb.git
[submodule "zsh/.config/plugins/zsh-fzf-history-search"]
	path = zsh/.config/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search.git
