
configuration {

    // The display name of this browser
    display-ssh:                   "  ";
    // The display name of this browser
    display-run:                    "";
    // The display name of this browser
    display-drun:                   "";
    // The display name of this browser
    display-window:                 "";
    display-combi:                  "";
    show-icons: true;
}

@theme "/usr/share/rofi/themes/android_notification.rasi"