alias vi=nvim
alias vf='f -e vim' # quick opening files with vim
alias ls=exa
alias ll='exa -lrsnew --icons --git -a'
alias lg=lazygit
alias rm='rm -i'
alias mv='mv -i'
alias tp='trash-put'
alias tl='trash-list'

alias fzfp='fzf --preview "bat --color "always" {}" --bind=alt-j:preview-down --bind=alt-k:preview-up --preview-window=right:60%:wrap'

function trm() {
    saveIFS=$IFS; IFS=$'\n'; files=($(tl | fzf -m | awk '{print $3}')); IFS=$saveIFS
    for file in "${files[@]}"; do
        trash-rm $file
    done;
}

_fzf_comprun() {
    local command=$1
    shift
    case "$command" in
        cd) fzf "$@" --preview 'exa -aTL=2 {} | head -200' ;;
        $VISUAL|$EDITOR|vi)
            fzf "$@" --preview "([[ -d {} ]] && exa -aTL2 {}) || (bat --color=always --style=full {})" --bind=alt-j:preview-down --bind=alt-k:preview-up --preview-window=right:60%:wrap 
            ;;
        *) fzf "$@" ;;
    esac
}
